* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
}

body {
  background-color: #fff;

  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #229f72;

  width: 40rem;
  height: 35rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 3rem;

  border-radius: 10px;

  position: relative;
}

.container::before {
  position: absolute;
  content: "";

  width: 40rem;
  height: 1rem;

  border-radius: 10px;

  background-color: #0f5247;
}

.container::after {
  position: absolute;
  content: "Acesso restrito";
  width: 10rem;
  height: 4rem;

  font-weight: 400;
  font-size: 1.25rem;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  right: 0;

  border-radius: 0 8px 0 8px;
  background-color: #0f5247;
}

.container img {
  margin: 3.5rem 0 3rem;

  width: 8rem;
  height: 8rem;

  text-align: center;
}

.input-area {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem 0.5rem;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input label {
  font-size: 1.25rem;
  margin-bottom: 0.2rem;

  font-weight: bold;
}

.input-area input {
  width: 12.25rem;
  height: 2rem;

  font-size: 1rem;
  padding: 0.5rem;

  border-radius: 8px;
  border: 1px solid #000;

  box-shadow: 0px 2px 6px #000;
}

.input-area .password > ul {
  font-size: 0.625rem;
  margin-top: 1.25rem;
  margin-left: 2.5rem;
  line-height: 1rem;

  color: #c3c9c7;
  text-shadow: 1px 1px 2px#000;
}

.submit-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: -5rem;
}

.submit-button button {
  width: 12.85rem;
  height: 2.5rem;

  font-size: 2rem;

  border-radius: 10px;
  border: 1px solid #000;

  box-shadow: 0px 2px 6px #000;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.5s;
}

.container form button:hover {
  cursor: pointer;
  background-color: #e2e0e0;
}

.submit-button small {
  color: #1b17ce;
  margin-top: 0.5rem;
}

.submit-button small:hover {
  text-decoration: underline;
}
